# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore Doxyfile
!Doxyfile

# Unignore all dirs
!*/

*CMakeCache.txt
*cmake_install.cmake
CMakeFiles/*
graph.png

*.h.gch

*.DS_Store

*.h.gch
/build/
/.idea/
/cmake-build-debug/

*.so
*.cbp

