<?xml version='1.0'?><robot xmlns:xacro='http://www.ros.org/wiki/xacro' name='robot'><xacro:include filename='macro_definitions.urdf.xacro' /><xacro:empty_link name='base_link'/><xacro:PCC id='0' parent='base_link' child='mid-0' length='0.3' mass='1000'/><xacro:empty_link name='mid-0'/><xacro:PCC id='1' parent='mid-0' child='mid-1' length='0.3' mass='1000'/><xacro:empty_link name='mid-1'/><xacro:PCC id='2' parent='mid-1' child='mid-2' length='0.3' mass='1000'/><xacro:empty_link name='mid-2'/></robot>