<?xml version="1.0"?>

<!--
convert this to a URDF with $./create_urdf.sh
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
  <xacro:include filename="macro_definitions.urdf.xacro" />
  <xacro:empty_link name="base_link"/>
  <xacro:PCC id="0" parent="base_link" child="0_mid" length="0.5"/>
  <!--<xacro:PCC id="1" parent="0" child="end_link" length="0.5"/>-->
  <xacro:empty_link name="0_mid"/>
  <xacro:PCC id="1" parent="0_mid" child="end_link" length = "0.7" />
  <xacro:empty_link name="end_link"/>
</robot>
