<launch>
  <!--
  $ roslaunch rviz.launch
-->
    <!-- Generate/Load robot description file -->
    <param name="robot_description" command="cat ./robot.urdf" />


    <!-- Joint state publisher opens a GUI to manually input joint states -->
<!--   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>
-->
    <!-- Robot state publisher subscribe to joint states and publish "tf" transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Rviz to vizualize robot -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d './robot.rviz'"/>

</launch>
